<article class="mb-5">

    <span *ngIf="certification.startDate && certification.endDate" class="periodo">{{certification.startDate.date | date: 'yyyy'}} - {{certification.endDate.date | date: 'yyyy'}}</span>
    <span *ngIf="certification.date" class="periodo">{{certification.date}}</span>

    <div class="name" *ngIf="certification.name">
      <h2 *ngIf="!certification.url">{{ certification.name }}</h2>
      <h2 *ngIf="certification.url">
        <a target="_blank" class="link" [href]="certification.url">{{ certification.name }}</a>
      </h2>
    </div>

    <p class="subDetails" *ngIf="certification.image">
      <a target="_blank" class="link" [href]="certification.url">
        <img class="logo"
             [src]="certification.image"
             (error)="getErrorImage($event)">
      </a>

    </p>
    <p class="subDesc mt-2" [innerHTML]="certification.description ? certification.description : certification.mainActivities"></p>

    <!--todo: tecnologias-->

    <!--
    <app-tecnologies [text]="item.description ? item.description : item.mainActivities"></app-tecnologies>
    -->

</article>
